command script import ~/dotfiles/lldb/loadext.py
command script import ~/dotfiles/lldb/lldbcommon.py
command script import ~/dotfiles/lldb/replace.py
command script import ~/dotfiles/lldb/openurl.py
command script import ~/dotfiles/lldb/overlayimage.py
command script import ~/dotfiles/lldb/saveimage.py
command script import ~/dotfiles/lldb/diffimage.py
command script import ~/dotfiles/lldb/printjson.py
command script import ~/dotfiles/lldb/printcurl.py

command alias uikit expr import UIKit
command alias swi expr -l swift --
command alias layout expr -l objc -O -- [[[[[UIApplication sharedApplication] keyWindow] rootViewController] view] recursiveDescription]
command alias overlay expr -l swift -- UIApplication.shared.keyWindow?.rootViewController?.overlayClassNames()
command regex cast 's/(.+) (.+)/expr -l swift -- let $casted = unsafeBitCast(%1, to: %2.self)/'
command regex deo 's/(.+)/expr %1.debug().subscribe()/'

